<a href="/new">Post a new message</a>
<ul>
  <% messages.forEach(function(message) { %>
  <li>
    <strong><%= message.username %></strong> - <%= message.text %><br />
    <small><%= message.added.toLocaleString() %></small>
    <!-- Open message link -->
    <a href="/message/<%= message.id %>">Open</a>
  </li>
  <% }); %>
</ul>
