<h1>Message Details</h1>

<div>
  <p><strong>User:</strong> <%= message.username %></p>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><strong>Date Added:</strong> <%= message.added.toLocaleString() %></p>
</div>

<a href="/">â† Back to Message Board</a>
