<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Message Details</h1>

    <div>
      <p><strong>User:</strong> <%= message.user %></p>
      <p><strong>Message:</strong> <%= message.text %></p>
      <p><strong>Date Added:</strong> <%= message.added.toLocaleString() %></p>
    </div>

    <a href="/">â† Back to Message Board</a>
  </body>
</html>
